<html>
<head>
	<title>{{title}}</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
	<h1>Subreddit Recommendation</h1>
	<form role="form" method='POST' action='/'>
		<div>{{ form.userInput }}</div><br>
		<div>
			{{ form.csrf_token }}
			{{ form.inputType }}
		</div><br>
		<button type="submit">Submit</button>
	</form>
	<br>
		{% for error in errors %}
			<h4>{{ error }}</h4>
		{% endfor %}
	<table>
	{% for key, value in rec %}
		<tr>
			<th> {{ key }} </th>
			<td> {{ value }} </td>
		</tr>
	{% endfor %}
	</table>
	<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
